@model IEnumerable<Application>

@{
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>Index</title>
</head>
<body>
<p>
	@Html.ActionLink("Dodaj nowy", "Create", null, new {@class = "btn btn-primary btn-sm"})
</p>
<div class="table-responsive">
	<table class="table">
		<tr>
			<th>
				@Html.DisplayName("Kod")
			</th>
			<th>
				@Html.DisplayName("Nr faktury")
			</th>
			<th>
				@Html.DisplayName("Produkt")
			</th>
			<th>
				@Html.DisplayName("Data otwarcia")
			</th>
			<th>
				@Html.DisplayName("Typ zlecenia")
			</th>
			<th>
				@Html.DisplayName("Klient")
			</th>
			<th>
				@Html.DisplayName("Serwisant")
			</th>
			<th>
				@Html.DisplayName("Status")
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InvoiceNo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Product.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Start)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AppType.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User1.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Statue.Name)
				</td>
				<td>
					@Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
					@Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
					@Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
				</td>
			</tr>
		}

	</table>
</div>
</body>
</html>