@model IEnumerable<Application>

@{
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>Index</title>
</head>
<body>
<p>
	@Html.ActionLink("Dodaj nowy", "Create", null, new {@class = "btn btn-primary btn-sm"})
</p>
<div class="table-responsive">
	<table class="table">
		<tr>
			<th>
				@Html.DisplayName("Kod");
			</th>
			<th>
				@Html.DisplayName("Nr faktury")
			</th>
			<th>
				@Html.DisplayName("Data zakupu")
			</th>
			<th>
				@Html.DisplayName("Zawartość")
			</th>
			<th>
				@Html.DisplayName("Opis")
			</th>
			<th>
				@Html.DisplayName("Oczekiwania")
			</th>
			<th>
				@Html.DisplayName("Koszt")
			</th>
			<th>
				@Html.DisplayName("Data otwarcia")
			</th>
			<th>
				@Html.DisplayName("Data potwierdzenia")
			</th>
			<th>
				@Html.DisplayName("Data rozpoczęcia")
			</th>
			<th>
				@Html.DisplayName("Data zakończenia")
			</th>
			<th>
				@Html.DisplayName("Typ zlecenia")
			</th>
			<th>
				@Html.DisplayName("Klient")
			</th>
			<th>
				@Html.DisplayName("Serwisant")
			</th>
			<th>
				@Html.DisplayName("Produkt")
			</th>
			<th>
				@Html.DisplayName("Sposób realizacji")
			</th>
			<th>
				@Html.DisplayName("Rezultat")
			</th>
			<th>
				@Html.DisplayName("Status")
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InvoiceNo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Purschace)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Content)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Expectations)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Cost)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Start)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Pending)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InProgress)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.End)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AppType.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User1.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Product.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Realization.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Result.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Statue.Name)
				</td>
				<td>
					@Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
					@Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
					@Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
				</td>
			</tr>
		}

	</table>
</div>
</body>
</html>