@model RMASystem.Models.User

@{
	
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>Index</title>
</head>
<body>
<div>
	@using (Html.BeginForm("Login", "Login")) {
		@Html.LabelFor(l => l.Email, "E-mail")
		@Html.EditorFor(e => e.Email)<br/>
		@Html.ValidationMessageFor(model => model.Email)<br/>

		@Html.LabelFor(l => l.Password, "Hasło")
		@Html.PasswordFor(e => e.Password)<br/>
		@Html.ValidationMessageFor(model => model.Password)<br/>
		<input type="submit" value="Zaloguj">
	}
</div>
</body>
</html>